<div class="wrapper wrapper-content animated fadeInRight">
<div class="col-lg-6">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Inspinia modal window</h5>

        </div>
        <div class="ibox-content">
            <p>
                Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.
            </p>
            <p>
                To creata a custom Inspinia modal all you have to do is to add <code>.inmodal</code> class to html modal element.
                Modal contains title, content and footer
            </p>
            <div class="text-center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Launch demo modal
                </button>
            </div>
            <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <i class="fa fa-laptop modal-icon"></i>
                            <h4 class="modal-title">Modal title</h4>
                            <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                        </div>
                        <div class="modal-body">
             




                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary">Salvar Mudanças</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>