
<div class="alert alert-success alert-dismissable">
  
  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">x</button>
  <p> Foto recortada com sucesso, clique em <strong> Imprimir </strong> para continuar.</p> 

</div>