<div class="footer">
    <div class="pull-right">
        Sistema de controle e emissão de Identidade Estudantil
    </div>
    <div>
        <strong>Copyright</strong> CEBRAC &copy; 2014-2015
    </div>
</div>
